// layout.scss
:host {
  font-family: $font-family-text;
}

.el-layout-top {
  position: relative;
  display: block;
  width: 100%;
  margin: var(--space-xxxx-large) auto 0px;
}

.el-layout {
  position: relative;
  padding: 0px var(--space-medium);
  margin: var(--space-xxx-large) auto var(--space-xx-large);
  margin-top: var(--space-xxx-large);
  margin-bottom: var(--space-xx-large);
}

.el-layout.el-layout-has-top {
  margin-top: 0px;
}

@media (min-width: 76.25em) {
  .el-layout {
    max-width: var(--size-layout-max-width);
    padding: 0px;
  }
}

@media (min-width: 62em) {
  .el-layout {
    display: flex;
    flex-direction: row;
    padding: 0px var(--space-xxx-large);
    margin-bottom: var(--space-xxx-large);
  }
}

@media (min-width: 36em) {
  .el-layout {
    padding: 0px var(--space-x-large);
  }
}

@media (min-width: 36em) {
  .el-layout {
    margin-top: var(--space-xxxx-large);
  }
}

@media (min-width: 62em) {
  .has-sidebar .el-main {
    max-width: 734px;
    margin-right: var(--size-icon-small);
  }
}

@media (min-width: 62em) {
  .el-main {
    min-width: 600px;
    margin: 0px auto;
    margin-right: auto;
  }
}

.el-main,
.el-sidebar,
.el-layout-top,
.el-layout-bottom {
  display: block;
  width: 100%;
}

@media (min-width: 62em) {
  .el-sidebar {
    min-width: 256px;
    max-width: 356px;
  }
}

@media (min-width: 76.25em) {
  .el-layout-top .el-layout-top-wrapper {
    max-width: var(--size-layout-max-width);
    padding: 0px;
  }
}

@media (min-width: 62em) {
  .el-layout-top .el-layout-top-wrapper {
    padding: 0px var(--size-icon-xx-large);
  }
}

@media (min-width: 36em) {
  .el-layout-top .el-layout-top-wrapper {
    padding: 0px var(--size-icon-medium);
  }
}

.el-layout-top .el-layout-top-wrapper {
  padding: 0px var(--space-large);
  margin: 0px auto;
}
